<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332376131307-u5fce2sjj9rlm2hvf98e1sof64undu0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332376131307-u5fce2sjj9rlm2hvf98e1sof64undu0q</string>
	<key>API_KEY</key>
	<string>AIzaSyAOLqX0YH2K4F48Ooi5Y2pbRZfgMr0v0Is</string>
	<key>GCM_SENDER_ID</key>
	<string>332376131307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tilert.sunglass-shop</string>
	<key>PROJECT_ID</key>
	<string>sunglass-shop-8066d</string>
	<key>STORAGE_BUCKET</key>
	<string>sunglass-shop-8066d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332376131307:ios:f943efbe2670d952b520ae</string>
	<key>DATABASE_URL</key>
	<string>https://sunglass-shop-8066d.firebaseio.com</string>
</dict>
</plist>